
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>GSB in Colombia 2014</title>

  <!-- Bootstrap Core CSS -->
  <link href="grayscale.css.erb" rel="stylesheets" type="text/css">

  <!-- Fonts -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- Custom Theme CSS -->
  <link href="bootstrap.min.css" rel="stylesheets">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#page-top">
        <i class="fa fa-play-circle"></i>  <span class="light">Home</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#about">Register</a>
        </li>
        <li class="page-scroll">
          <a href="#hotels">Hotels</a>
        </li>
        <li class="page-scroll">
          <a href="#download">Itinerary</a>
        </li>
        <li class="page-scroll">
          <a href="#contact">Questions?</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">GSB in Colombia 2014</h1>
          <p class="intro-text"> Register Today </p>
          <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <h2>Registration SOLD OUT</h2>

      <!--<iframe src="https://docs.google.com/file/d/0BxjB5iPBLoW4Q3k5ZHlQa3lDa2c/preview" frameborder="0" width="640" height="385"></iframe>-->
      <iframe id="ytplayer" type="text/html" width="640" height="390"
              src="http://www.youtube.com/embed/IiLI1u1YpuY?autoplay=0&origin=http://www.gsbcolombiatrip.com"
              frameborder="0"> </iframe>

        <br>
        <br>
      <br>

    </div>
  </div>
</section>


<section id="hotels" class="content-section text-center">
  <div class="hotels-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2> Hotels </h2> </br>
        <p> View the slideshow below to browse our pre-selected hotel options for your stay in Colombia</p>

        <script type="text/javascript">
            $(function(){
                $('.carousel').each(function(){
                    $(this).carousel({
                        interval: false
                    });
                });
            });​
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>

        <!--  Carousel - consult the Twitter Bootstrap docs at
        http://twitter.github.com/bootstrap/javascript.html#carousel -->
        <div id="this-carousel-id" class="carousel slide" data-interval="false" style="width: 600px; margin: 0 auto ">



          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
            <li data-target="#carousel-example-generic" data-slide-to="8"></li>
            <li data-target="#carousel-example-generic" data-slide-to="9"></li>
            <li data-target="#carousel-example-generic" data-slide-to="10"></li>
            <li data-target="#carousel-example-generic" data-slide-to="11"></li>
            <li data-target="#carousel-example-generic" data-slide-to="12"></li>
            <li data-target="#carousel-example-generic" data-slide-to="13"></li>
            <li data-target="#carousel-example-generic" data-slide-to="14"></li>
            <li data-target="#carousel-example-generic" data-slide-to="15"></li>



          </ol>


          <!-- class of slide for animation -->
          <div class="carousel-inner">
            <div class="item active"><!-- class of active since it's the first item -->
              <img src=<%= asset_path('title.jpg')%> alt="" />
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <A HREF="http://www.tripadvisor.com/Hotel_Review-g297476-d1740517-Reviews-Hotel_Portal_de_San_Diego-Cartagena_Cartagena_District_Bolivar_Department.html"> <img src=<%= asset_path('c-portal.jpg')%> alt="" /></A>
              <div class="carousel-caption">

              </div>
            </div>
            <div class="item">
              <A HREF="http://www.tripadvisor.com/Hotel_Review-g297476-d1655966-Reviews-Hotel_Don_Pedro_de_Heredia-Cartagena_Cartagena_District_Bolivar_Department.html"> <img src=<%= asset_path('c-pedro.jpg')%> alt="" /></A>
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
              <A HREF="http://www.tripadvisor.com/Hotel_Review-g297476-d1070219-Reviews-Hotel_3_Banderas-Cartagena_Cartagena_District_Bolivar_Department.html"> <img src= <%= asset_path('banderas.jpg') %> alt="" /></A>
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
              <A HREF="http://www.tripadvisor.com/Hotel_Review-g297476-d2554288-Reviews-Hotel_Boutique_las_Carretas-Cartagena_Cartagena_District_Bolivar_Department.html"> <img src= <%= asset_path('carretas.jpg') %> alt="" /></A>
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
              <A HREF="http://www.tripadvisor.com/Hotel_Review-g297476-d583628-Reviews-Hotel_Monterrey-Cartagena_Cartagena_District_Bolivar_Department.html"> <img src= <%= asset_path('mont.jpg') %> alt="" /></A>
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
            <A HREF="http://www.tripadvisor.com/Hotel_Review-g297476-d2407083-Reviews-UrbanRoyal_Puerta_del_Reloj-Cartagena_Cartagena_District_Bolivar_Department.html"> <img src= <%= asset_path('urban.jpg') %> alt="" /></A>
            <div class="carousel-caption">
            </div>
          </div>

            <div class="item">
              <A HREF="http://www.tripadvisor.com/Hotel_Review-g297476-d1367836-Reviews-Delirio_Hotel-Cartagena_Cartagena_District_Bolivar_Department.html"> <img src= <%= asset_path('del.jpg') %> alt="" /></A>
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
              <A HREF="http://www.tripadvisor.com/Hotel_Review-g297476-d1648058-Reviews-Movich_Hotel_Cartagena_de_Indias-Cartagena_Cartagena_District_Bolivar_Department.html"> <img src= <%= asset_path('mov.jpg') %> alt="" /></A>
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
              <A HREF="http://www.tripadvisor.com/Hotel_Review-g6503205-d1148892-Reviews-Punta_Faro-Isla_Mucura_Archipelago_of_San_Bernardo_Cartagena_District_Bolivar_Departm.html"> <img src= <%= asset_path('isla.jpg') %> alt="" /></A>
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
              <A HREF="http://www.tripadvisor.com/Hotel_Review-g297478-d1986176-Reviews-The_Charlee-Medellin_Antioquia_Department.html"> <img src= <%= asset_path('charlee.jpg') %> alt="" /></A>
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
              <A HREF="http://www.tripadvisor.com/Hotel_Review-g297478-d307376-Reviews-Park_10_Hotel-Medellin_Antioquia_Department.html"> <img src= <%= asset_path('med.jpg') %> alt="" /></A>
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
              <A HREF="http://www.tripadvisor.com/Hotel_Review-g297478-d307371-Reviews-Dann_Carlton_Medellin_Hotel-Medellin_Antioquia_Department.html"> <img src= <%= asset_path('dann.jpg') %> alt="" /></A>
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
              <A HREF="http://www.tripadvisor.com/Hotel_Review-g297478-d1415221-Reviews-Art_Hotel_Boutique-Medellin_Antioquia_Department.html"> <img src= <%= asset_path('art.jpg') %> alt="" /></A>
              <div class="carousel-caption">
              </div>
            </div>


            <div class="item">
              <A HREF="http://www.tripadvisor.com/Hotel_Review-g294074-d307004-Reviews-Casa_Dann_Carlton_Hotel_SPA-Bogota.html"> <img src= <%= asset_path('bog.jpg') %> alt="" /></A>
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
              <img src= <%= asset_path('end.jpg') %> alt="" />
              <div class="carousel-caption">
              </div>
            </div>


          </div><!-- /.carousel-inner -->
          <!--  Next and Previous controls below
                href values must reference the id for this carousel -->
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
        </div><!-- /.carousel -->

</br> </br>

        <h3> Hotel Registration Steps: </h3> <br>
        <h4> (Booking Open May 5 - 21)</h4> <br>
        <p> 1) Complete <a href="https://docs.google.com/forms/d/1oTrn7y5cPEKHNzgtqHl1nsyunUmf5yWJ6s2RpzcpVak/viewform?usp=send_form">this </a> google form.
        <p> 2) Within 48 hrs, receive a confirmation email from us with your confirmed hotels and invoice</p>
        <p> 3) Within 72 hrs, pay the amount indicated in your invoice on <a href="https://www.crowdtilt.com/campaigns/gsb-2016-colombia-reg-part-ii-hotel-fees">CrowdTilt </a> in order to complete your reservation.</p>
        <p> 3) You're done! Party time. </p>

        <span class="italic">*Please note- Even if you are booking your own hotels, please complete the form</span>
        <!--<a href="https://www.facebook.com/groups/622776477795975/" class="btn btn-default btn-lg"> Download Itinerary</a>-->
      </div>
    </div>
  </div>
</section>



<section id="download" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2> Itinerary</h2> </br>
        <p>Coming soon! You will be able to download the trip itinerary and welcome packet here. It will include detailed information on hotels and planned activities during our stay in Colombia.</p>
        <p> For now, below is a list of the cities we will be visiting: </p> <br>
        <p> Aug. 23-24: Cartagena (arrive on the 23rd)</p>
        <p> Aug. 25-26: Isla Mucura</p>
        <p> Aug. 27-28: Medellin</p>
        <p> Aug. 29-31: Bogota (depart on the 31st)</p>
        <!--<a href="https://www.facebook.com/groups/622776477795975/" class="btn btn-default btn-lg"> Download Itinerary</a>-->
      </div>
    </div>
  </div>
</section>

<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Questions?</h2> </br>
      <p>Feel free to contact the trip leaders to provide some feedback, give us suggestions, or to just say hello!</p>
      </br>
      <p>For General Questions: info@gsbcolombiatrip.com</p>
      <p>For Registration Questions: registration@gsbcolombiatrip.com</p>

      <ul class="list-inline banner-social-buttons">
        <!--<li><a href="https://twitter.com/gsbcolombia2014" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>-->
        <!--</li>-->
        <li><a href="https://www.facebook.com/groups/622776477795975/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>



<div id="map"></div>

<!-- Core JavaScript Files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Google Maps API Key - You will need to use your own API key to use the map feature -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb4GKRmM7mmNMMutoLk4x4oCY7Pz1dTtY&sensor=false"></script>

<!-- Custom Theme JavaScript -->

<script>

    var myOptions = {
        zoom: 15,
        center: new google.maps.LatLng(10.415924, -75.533797),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles:

                [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
    };

    var map = new google.maps.Map(document.getElementById('map'), myOptions);


</script>



</body>

</html>
